* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #0b0f14;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
